.member-form {
  display: flex;
  flex-direction: column;
  }
  
  .member-form-field {
    width: 80%;
  }

  .input-button {
    padding: 8px 16px; 
    border-radius: 4px; 
    border: none;
    background-color: rgb(228, 231, 249);
    color: white; 
    cursor: pointer; 
  }
  
  .input-button:hover {
    background-color: rgb(173, 182, 234);
  }
  